body {
    background-color: #eef9f9;
  }
  
  #functionality-container {
    padding-top: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #functionality-container * {
    margin-left: 2rem;
  }
  
  #employee-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #eef9f9;
  }
  
  #pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
  }
  
  #pagination-container * {
    margin-right: 1rem;
  }
  
  .employee {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 4rem;
    margin: 2rem;
    width: 25%;
    background-color: whitesmoke;
  }
  
  .employee p {
    margin: 0;
    margin-left: 2rem;
    color: #25316d;
    font-weight: bold;
  }
  
  .dp {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }