.login-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eef9f9;
  }
  
  .login-container h1 {
    font-weight: bold;
  }
  
  #login-form {
    background-color: whitesmoke;
    padding: 5rem 7rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }